@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root{
    --primary-color: #1A4174; 
    --secondary-color: #D6DF22;
    --logo-height: 70px;
    --max-width: 80%;   /* było 1500px, ale musze użyć elastyczne jednostki*/
    --font-columns-text-big: 2rem;
    --font-columns-text-small: 1.5rem;
    --font-card-text-big: 1.2rem;
    --font-card-text-small: 1rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}